<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 grey-3">AMAP Helia</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Accueil</a></li>
					<li><a href="/principes" class="link">Principes</a></li>
					<li><a href="/pratique" class="link">En pratique</a></li>
					<li><a href="http://abo.amaphelia.be" class="link">S’abonner</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 grey-3">En savoir plus</h3>
				<ul class="mb3">
					<li><a href="/nouvelle" class="link">Dernières nouvelles</a></li>
					<li><a href="/contact" class="link">Adresses et responsables</a></li>
					<li><a href="https://www.les-jardins-de-dounia.be/" class="link">Les Jardins de Dounia</a></li>
				</ul>
			</div>

			{{/*  <div>
				<h3 class="f4 b lh-title mb2 primary">Réseaux</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>  */}}

		</div>
	</div>

</footer>

{{ partial "svg" . }}
